  {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kristinn's Homepage</title>
    <link rel="stylesheet" href=" {% static 'skills/styles.css' %} ">    
  </head>
  <body>   
    
    <div class="outside">
    <div class="container">
      <img src="{% static 'img/computer.svg' %}" class="big_img" >
    </div>
    <div class="container"> 
      <div class="item"> 
        <h3>Web development </h3>
        <img src="{% static 'img/skull.jpg' %}" class="big_img" >
      </div>
      <div class="item">
        <h3>Web development </h3>
        <img src="{% static 'img/skull.jpg' %}" class="big_img" >
      </div>
      <div class="item">
        <h3>Web development </h3>
        <img src="{% static 'img/skull.jpg' %}" class="big_img" >
      </div>
    </div>
    </div>
      <img src="{{ skill.image.url }}" height="500px">
    <table>
        <thead>
            <tr>
                <th colspan="2">Skills</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in skill_list %}
            <tr>
                <td>{{skill.name}}</td>
                <td>{{skill.type}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
  </body>
</html>